[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wordcloud = "*"
transformers = "*"
imageio = "==2.4.1"
moviepy = "*"
keybert = "*"
pytube = "*"
openai-whisper = {git = "git+https://github.com/openai/whisper.git"}

[dev-packages]

[requires]
python_version = "3.8"
